# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Django
*.sqlite3
*.log
*.pot
*.pyc
local_settings.py

# Environment
.env
venv/
env/
.venv/
ENV/

# VSCode
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

# Migrations (optional)
**/migrations/
